<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>救助站</title>
<link rel="stylesheet" type="text/css" href="./station_list.css">
<style type="text/css">
.top,.mid,.down{
	margin-bottom:15px;
	margin-left:60px;
	float:left;
}
.div_station_list{
	width:240px;
	height:240px;
	margin-left:20px;
	margin-top:15px;
	margin-bottom:15px;
	float:left;
	box-shadow: 1px 1px 10px rgb(20,60,90);
}
.div_station_list_img{
	margin-top:15px;
	margin-left: 11px;
	width: 220px;
	height:180px;
	box-shadow: 1px 1px 6px rgb(30,33,26);
}
.div_station_list_span{
	width:100px;
	height:20px;
	margin-left:25px;
}

</style>
</head>
<body>

<div class="wrap">
  <div class="head">
    	<div class="div_logo">
        	<a class="a_logo">
            	<img src="logo.png" style="max-width:120px; max-height:50px;" />
            </a>
        </div>
   	<div class="div_nav">
        	<ul class="nav_ul">
            	<li><a href="#" class="a_li">领养</a></li>
                <li><a href="#" class="a_li">社区</a></li>
                <li><a href="#" class="a_li">个人中心</a></li>
            </ul>
        </div>
        {% if request.user.is_authenticated %}
        	{{ request.user.username }}
        {% else %}
        	xxx
        {% endif %}
        </div>
    <div class="main">
	    <div class="top">
	    	<div id="station_list_1" class="div_station_list">
	    		<div class="div_station_list_img"></div>
	    		<div class="div_station_list_span">
	    		<a href=''>{{st_name.name}}</a></div>
	    	</div>
	    	<div id="station_list_2" class="div_station_list">
	    		<div class="div_station_list_img"></div>
	    		<div class="div_station_list_span"><a href=''></a></div>
	    	</div>
	    	<div id="station_list_3" class="div_station_list">
	    		<div class="div_station_list_img"></div>
	    		<div class="div_station_list_span"></div>
	    	</div>
	    </div>
	    <div class="mid">
	    	<div id="station_list_4" class="div_station_list">
	    		<div class="div_station_list_img"></div>
	    		<div class="div_station_list_span"></div>
	    	</div>
	    	<div id="station_list_5" class="div_station_list">
	    		<div class="div_station_list_img"></div>
	    		<div class="div_station_list_span"></div>
	    	</div>
	    	<div id="station_list_6" class="div_station_list">
	    		<div class="div_station_list_img"></div>
	    		<div class="div_station_list_span"></div>
	    	</div>
	    </div>
	    <div class="down">
	   		 <div id="station_list_7" class="div_station_list">
	    		<div class="div_station_list_img"></div>
	    		<div class="div_station_list_span"></div>
	    	</div>
	    	<div id="station_list_8" class="div_station_list">
	    		<div class="div_station_list_img"></div>
	    		<div class="div_station_list_span"></div>
	    	</div>
	    	<div id="station_list_9" class="div_station_list">
	    		<div class="div_station_list_img"></div>
	    		<div class="div_station_list_span"></div>
	    	</div>
	    </div>	
    </div>
    <div class="foot"></div>
</div>

</body>
</html>