<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>救助站</title>
<link rel="stylesheet" type="text/css" href="./station_list.css">
<style type="text/css">
.top,.mid,.down{
	margin-bottom:15px;
	margin-left:100px;
	float:left;
}
.div_station_list{
	width:150px;
	height:150px;
	margin-left:20px;
	margin-top:15px;
	margin-bottom:15px;
	border:1px solid black;
	float:left;
}
.div_station_list_img{
	margin-top:15px;
	margin-left:25px;
	width:100px;
	height:100px;
	border:1px solid black;
	background:blue;
}
.div_station_list_span{
	width:100px;
	height:20px;
	margin-left:25px;
	background:red;
}

</style>
</head>
<body>
<div class="wrap">
  <div class="head">
    	<div class="div_logo">
        	<a class="a_logo">
            	<img src="./logo.png" style="max-width:98px; max-height:40px;" />
            </a>
        </div>
   	<div class="div_nav">
        	<ul class="nav_ul">
            	<li><a href="#" class="a_li">领养</a></li>
                <li><a href="#" class="a_li">社区</a></li>
                <li><a href="#" class="a_li">个人中心</a></li>
            </ul>
        </div>
  </div>
    <div class="main">
	    <div class="top">
	    	<div id="station_list_1" class="div_station_list">
	    		<div class="div_station_list_img">1</div>
	    		<div class="div_station_list_span"></div>
	    	</div>
	    	<div id="station_list_2" class="div_station_list">
	    		<div class="div_station_list_img">2</div>
	    		<div class="div_station_list_span"></div>
	    	</div>
	    	<div id="station_list_3" class="div_station_list">
	    		<div class="div_station_list_img">3</div>
	    		<div class="div_station_list_span"></div>
	    	</div>
	    	<div id="station_list_4" class="div_station_list">
	    		<div class="div_station_list_img">4</div>
	    		<div class="div_station_list_span"></div>
	    	</div>
	    </div>
	    <div class="mid">
	    	<div id="station_list_5" class="div_station_list">
	    		<div class="div_station_list_img">5</div>
	    		<div class="div_station_list_span"></div>
	    	</div>
	    	<div id="station_list_6" class="div_station_list">
	    		<div class="div_station_list_img">6</div>
	    		<div class="div_station_list_span"></div>
	    	</div>
	    	<div id="station_list_7" class="div_station_list">
	    		<div class="div_station_list_img">7</div>
	    		<div class="div_station_list_span"></div>
	    	</div>
	    	<div id="station_list_8" class="div_station_list">
	    		<div class="div_station_list_img">8</div>
	    		<div class="div_station_list_span"></div>
	    	</div>
	    </div>
	    <div class="down">
	   		 <div id="station_list_9" class="div_station_list">
	    		<div class="div_station_list_img">9</div>
	    		<div class="div_station_list_span"></div>
	    	</div>
	    	<div id="station_list_10" class="div_station_list">
	    		<div class="div_station_list_img">10</div>
	    		<div class="div_station_list_span"></div>
	    	</div>
	    	<div id="station_list_11" class="div_station_list">
	    		<div class="div_station_list_img">11</div>
	    		<div class="div_station_list_span"></div>
	    	</div>
	    	<div id="station_list_12" class="div_station_list">
	    		<div class="div_station_list_img">12</div>
	    		<div class="div_station_list_span"></div>
	    	</div>
	    </div>	
    </div>
    <div class="foot"></div>
</div>
</body>
</html>